body {
	background-color: #eff;

}

#DrawArea {
	display: block;
    margin: auto;
	border: 1px solid black;
}

#notifier {
	text-align: center;
	background-color: #cff;
}

#canvasArea {

}

#buttonArea {
	text-align: center;

}

#loadArea {
	text-align: center;
}

.border {

	padding: 10px;
	margin: 10px;
	border: 2px solid black;
}
